.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padd {
  background-color: #C4132A;
  padding: 30px;
  border-radius: 25px;
}

.content{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content > * {
  margin-bottom: 10px;
}